// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2018 NXP
 * Copyright 2019-2020 Variscite Ltd.
 */

#include "fsl-imx8mm-var-som.dts"

/ {
	model = "ThermaTouch";
};

&usbotg1 {
	/delete-property/ extcon;
};

&i2c2 {
	/* ISL12057 RTC module */
	rtc@0x68 {
		compatible = "isil,isl12057";
		reg = <0x68>;
	};

	/* ISL12058 RTC module */
	rtc@0x6f {
		compatible = "isil,isl1208";
		reg = <0x6f>;
	};
};
