// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2018 NXP
 * Copyright 2019-2020 Variscite Ltd.
 */

#include "fsl-imx8mm-var-som.dts"

/ {
	model = "ThermaTouch";
};

&usbotg1 {
	/delete-property/ extcon;
};
